* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    
}

.header-top .navbar-default {
    background-color: #3A539B;
}

.header-top .navbar-default .navbar-brand {
    color: #fff;
    padding-top: 15px;
}

.header-bottom {
    margin-top: -20px;
}

.header-bottom .navbar-default {
    background-color: #fff;
}

.content #carousel-id {
    margin-top: -23px;
}

.content .carousel-caption h1 {
    color: #003333;
}

.content .carousel-caption p {
    color: #000;
}


/*================= content-header =================*/
.content-header a {
    text-decoration: none;
    color: #000;
}

.content-header .welcome {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}

.content-header .welcome a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 3px solid cyan;
}

/*================= content-article =================*/
.content-article {
    margin-top: 50px;
    line-height: 37px;
}


.content-article .list-group {
    list-style-type: none;
}

.content-article .list-group a {
    text-decoration: none;
    color: #000;
    
}

i.far.fa-check-circle {
    color: #0099cc;
    font-size: 20px;
}

.content-article .list-group a:hover {
    text-decoration: underline;
    color: tomato; 
}

/*================= content-article-top =================*/
.content-article-top a {
    text-decoration: none;
    color: #000;
}

.content-article-top .service {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}


.content-article-top .service a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 3px solid cyan;
}

.content-article-top .service-img {
    margin-top: 50px;
}

.content-article-top .thumbnail img {
    padding-top: 40px;
}


/*================= content-article-middle =================*/

.content-article-middle a {
    text-decoration: none;
    color: #000;
}

.content-article-middle .client {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}


.content-article-middle .client a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 3px solid cyan;
}

.content-article-middle .img-item {
    margin-top: 50px;
}

/*================= content-article-bottom =================*/

.content-article-bottom a {
    text-decoration: none;
    color: #000;
}

.content-article-bottom .testimonail {
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}


.content-article-bottom .testimonail a {
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
    border-bottom: 3px solid cyan;
}

.content-article-bottom .text-border {
    margin-top: 15px;
    margin-bottom: 100px;
}

.text-border .thumbnail .caption {
    padding: 25px;
    color: #333;
}

/*================= footer =================*/
.footer {
    background-color: #0099cc;
}
.footer .container {
    padding-top: 20px;
    padding-bottom: 50px;
}
.footer a {
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: 18px;
    padding-top: 20px;
}

button.btn.btn-primary {
    margin-top: 70px;
    width: 130px;
    border-color: #fff;
    background-color: #0099cc;
}